div(*ngIf='login').login-main
    .login-title
        h2 login
    .login-form
        input(type="text")
        input(type="text")
        button((click)='openDash2()') Entar
        a((click)='openRegistrar()') Registrase
        
div(*ngIf='!login')
    div(*ngIf='!dash')
        a((click)='openLogin()') Login
        h1 Dope
        div
            div
                img(src="#", alt="")
        div
            audio(controls)
        div
            ul
                li Dope Music 1 - 30s
                li Dope Music 2 - 30s
                li Dope Music 3 - 30s
                li Dope Music 4 - 30s
                li Dope Music 5 - 30s

    div(*ngIf='dash')
        img(src="#", alt="")
        ul
            li
                a((click)='openLibrary()') Biblioteca
            li
                a() Cerrar Sesion
        div(*ngIf='!library')
            h1 Dope
            div
                div
                    img(src="#", alt="")
            div
                audio(controls)
            div
                ul
                    li Dope Music 1 - Full 
                    li Dope Music 2 - Full
                    li Dope Music 3 - Full
                    li Dope Music 4 - Full
                    li Dope Music 5 - Full
        div(*ngIf='library')
                div(*ngIf='!album')
                    h1 Biblioteca
                    a((click)='openAlbum()')
                        h3 Album 1
                        img(src="", alt="")
                div(*ngIf='album')
                    img(src="", alt="")
                    h3 Album 1
                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste earum voluptates,
                    li Dope Music 1 - Full Album 1
                    li Dope Music 2 - Full Album 1
                    li Dope Music 4 - Full Album 1
                    li Dope Music 3 - Full Album 1
                    li Dope Music 5 - Full Album 1